{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">About this project</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='opencv_pytorch_flask.png') }}" alt="">
            </div>
            <p class="lead">
                This project emerged after a frustation 😫 of having to pay for upscaling my images on the regular web applications such as Smart Upscaler, Bigjpg, Let's Enchance, ...<br>
                So as a data scientist, I decided to put my artificial intelligence skills to good use 🤪!<br>
                <a href="https://github.com/iLoveDataJjia/openisr"> View on GitHub</a>
            </p>
            <p>
                For the AI enthusiasts 😍, OpenISR is mainly based on the EDSR and ESRGAN+ papers written in 2017 and 2020 respectively.
                As an open source project,
                the web application part is on purpose simple allowing easy codes understanding and modifications 👍.
                If you wish to contribute or modify the project according to your needs or checkout the papers, please feel free 😊.
                The codes and references are on the GitHub repository link just down below 👇.
            </p>

        </div>
    </div>
</div>
{% endblock %}