{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">OpenISR</h1>
      <p class="lead">
        🚀🔥 OpenISR is an image super resolution local web app ready for docker deployment.
        It is powered by OpenCV & PyTorch and has the purpose to upscale your images without losing quality!
        <br> <a href="https://github.com/iLoveDataJjia/openisr"> View on GitHub</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="mb-2 col-md-6 offset-md-3">
    <form action="/infer" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" name="image" accept=".jpg, .jpeg, .png" class="custom-file-input" id="inputGroupFile"
            aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="inputGroupFile">Choose image in .jpg .jpeg .png</label>
        </div>
        <div class="input-group-append">
          <input type="submit" value="Upload" class="btn btn-outline-secondary" type="button"
            id="inputGroupFileAddon04"/> 
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 my-5">
      <div style="text-align:center">
        <p class="text-muted">
          I like open source software a lot 😄!
          So, this app is licensed under the MIT Licence and is available for commercial use, modification, distribution or private use.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
